# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


*.yml
*.class
/.idea/
/target/
/src/main/resources/application.yml
/src/test/
/src/main/java/io/github/hoshinojyunn/miraiclient4j/zTest/MiraiClient4jApplication.java

